{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <h1>Router Configurations</h1>

    <form action="{% url 'netbuddyapp:routerconfiglistsearch' %}" method="get">
    {% csrf_token %}
    <input id="searchfield" type="text" name="searchfield">
    <button type="submit">Search</button>
    </form>

    <ul>
    {% for config in all_router_configs %}
        <li>
            <a href="{% url 'netbuddyapp:routerconfig' config.id %}"> {{ config.filename }} </a> {{ config.description }} {{ config.created_at }}
    {% endfor %}
    </ul>
    <a href="{% url 'netbuddyapp:routerconfigform' %}"> Click here to add new configuration</a>
{% endblock %}