{% extends 'shared/base.html' %}
{% load static %}
{% block content%}
<h2>Filename: {{ router_config.filename }}</h2>
<p>Description: {{router_config.description}}</p>
<p>Created: {{router_config.created_at}}</p>
<form class="router-form" action="{% url 'netbuddyapp:routerconfig' router_config.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="LOAD_CONFIG">
    <button>Load This Config</button>
</form>
<form action="{% url 'netbuddyapp:routerconfigedit' router_config.id %}" method="GET">
    {% csrf_token %}
    <button>Edit Description</button>
</form>
<form action="{% url 'netbuddyapp:routerconfig' router_config.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
</form>

 <dialog class="loading-message">
    
    
        Loading. Please wait.
    </dialog>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/loadingMessage.js' %}"></script>
{% endblock %} 