{% extends 'shared/base.html' %}
{% load static %}
{% block content%}

<h1>Router Commands</h1>
<h2>Show Commands</h2>
<div class="router-create-form">
<form  action="{% url 'netbuddyapp:routercommands' %}" method="get">
{% csrf_token %}
    <input type="hidden" name="actual_method" value="SHOW_IP_INTERFACES_BRIEF">
    <button>Show IP Interface Brief</button>
 </form>  
<form action="{% url 'netbuddyapp:routercommands' %}" method="get">
{% csrf_token %}
    <input type="hidden" name="actual_method" value="SHOW_IP_ROUTE">
    <button>Show IP Route</button>
 </form> 
<form action="{% url 'netbuddyapp:routercommands' %}" method="get">
{% csrf_token %}
    <input type="hidden" name="actual_method" value="SHOW_VERSION">
    <button>Show Version</button>
</form>
<form action="{% url 'netbuddyapp:routercommands' %}" method="get">
{% csrf_token %}
    <input type="hidden" name="actual_method" value="SHOW_IP_PROTOCOLS">
    <button>Show IP Protocols</button>
</form>
</div>

<dialog class="loading-message">
        Loading. Please wait.
</dialog>


<pre class="commandsscrollbox">{{ output }}</pre>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/loadingMessage.js' %}"></script>
{% endblock %} 