{% extends 'shared/base.html' %}
{% load static %}
{% block content%}

    {% if user.is_authenticated %}
    <h1>Hello, {{ user.username }}.</h1>
     <p>You are currently logged in.</p>
        {% if router_ping_info is not None %}
        <p>Router is online at {{ current_netbuddy_user.current_router_ip }}.</p>
        {% else %}
        <p>Router is offline.</p>
        {% endif %}
        {% if tftp_ping_info is not None %}
        <p>TFTP is online at {{ current_netbuddy_user.tftp_ip }}.</p>
        {% else %}
        <p>TFTP is offline or not configured.</p>
        {% endif %}
        <p> SSH Username: {{ current_netbuddy_user.ssh_username }}</p>
        <p> SSH Password: {{ current_netbuddy_user.ssh_password }}</p>
        <p> Currently Configured Router IP: {{ current_netbuddy_user.current_router_ip}}</p>
        <p> Currently Configured TFTP IP: {{ current_netbuddy_user.tftp_ip}}</p>
    {% else %}
    <h2> Welcome to:</h2>
    <pre>
 __   __     ______     ______   ______     __  __     _____     _____     __  __    
/\ "-.\ \   /\  ___\   /\__  _\ /\  == \   /\ \/\ \   /\  __-.  /\  __-.  /\ \_\ \   
\ \ \-.  \  \ \  __\   \/_/\ \/ \ \  __<   \ \ \_\ \  \ \ \/\ \ \ \ \/\ \ \ \____ \  
 \ \_\\"\_\  \ \_____\    \ \_\  \ \_____\  \ \_____\  \ \____-  \ \____-  \/\_____\ 
  \/_/ \/_/   \/_____/     \/_/   \/_____/   \/_____/   \/____/   \/____/   \/_____/ 
    </pre>
    <h3>Your Cisco config file assistant.</h3>
    <p>Note: NetBuddy is not affiliated with Cisco in any way.</p>
    <p>Intended for student use only; not professional.</p>
     <ul>
        <form action="{% url 'netbuddyapp:login' %}">
        <input type="submit" class="nb-button" value="Login" />
        </form>
        <form action="{% url 'netbuddyapp:register' %}">
        <input type="submit" class="nb-button" value="Register" />
        </form>
        <form action='http://github.com/treysuiter/net-buddy/blob/master/README.md' target="_blank">
        <input type="submit" class="nb-button" value="NetBuddy Info" />
        </form>
    </ul>
    {% endif %}
    
{% endblock %}

{% comment %} <pre>{{ output }}</pre>
<p>{{ output }}</p> {% endcomment %}