{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>NetBuddy</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    {% block css %}
    {% endblock %}
</head>

<body>

     <nav id="site-nav">
        <ol class="navList">
            {% with url_name=request.resolver_match.url_name %}
            <li class="navList__route {% if url_name == 'home' %}active{% endif %}"><a href="{% url 'netbuddyapp:home' %}">Home</a></li>
            {% if user.is_authenticated %}
            |<li class="navList__route {% if url_name == 'routerconfig' or url_name == 'routerconfiglist' or url_name == 'routerconfigform' or url_name == 'routerconfigedit'%}active{% endif %}"><a href="{% url 'netbuddyapp:routerconfiglist' %}">My Router Configs</a></li>|
            <li class="navList__route {% if url_name == 'routercurrentinfo' %}active{% endif %}"><a id="current-router-info-link" href="{% url 'netbuddyapp:routercurrentinfo' %}">Current Router Config Info</a></li>|
            <li class="navList__route {% if url_name == 'routercommands' %}active{% endif %}"><a href="{% url 'netbuddyapp:routercommands' %}">Router Show Commands</a></li>|
            <li class="navList__route"><a href="{% url 'netbuddyapp:logout' %}">Logout</a></li>
            {% endif %}
            {% endwith %}
        </ol>
    </nav>

    <dialog class="navLoadingMessage">
    <image src="{% static 'images/dz.jpg'%}">
    One moment.
    </dialog>
    

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock scripts %}

</body>

<script src="{% static 'scripts/navloadingMessage.js' %}"></script>

</html>
 