{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BASE NetBuddy</title>

    <style>
        .navList {
            list-style-type: none;
            display: flex;
            border: 1px solid lightgray;
            padding: 1em;
        }

        .navList__route {
            margin: 0 0.5em;
        }
    </style>
</head>

<body>

     <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'netbuddyapp:home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li class="navList__route"><a href="{% url 'netbuddyapp:routerconfiglist' %}">My Configs</a></li>
            <li class="navList__route"><a href="{% url 'netbuddyapp:routercurrentinfo' %}">Current Router Config Info</a></li>
            <li class="navList__route"><a href="{% url 'netbuddyapp:logout' %}">Logout</a></li>
            <li> Hello, {{ user.username }}.</li>
            {% endif %}
        </ol>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>